@{ Layout = "_Layout";}


    @*maincontent*@
    <div id="cntRow" class="row maincontent">
        <div class="side">
            <h5 class="form-inline">Meine aktiven Buchungen:<i id="loader" class="fa fa-spinner fa-pulse fa-fw"></i></h5>
            <span id="lastbookings"></span>
        </div>
        <div class="main">
            <i id="loaderMain" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <div id="main" style="display: none">
                <div class="row">
                    <a href="#filterContainer" class="toggle" style="font-weight:bold">Filter <i class="fa fa-filter" aria-hidden="true" style="color: orange"></i></a>
                    <div id="filterContainer" class="toggle-content">
                        <div class="container row">
                            <div class="col-4"><input type="checkbox" id="cbTodayFree" /><label for="cbTodayFree" class="filterLabel"> Heute frei</label></div>
                            <div class="col-4"><input type="checkbox" id="cbTomorrowFree" /><label for="cbTomorrowFree"class="filterLabel"> Morgen frei</label></div>
                            <div class="col-4"><input type="checkbox" id="cbWeekFree" /><label for="cbWeekFree"class="filterLabel"> Diese Woche frei</label></div>
                        </div>
                        <div class="container row">
                            <div class="col-4"><input type="checkbox" id="cbMouse" /><label for="cbMouse"class="filterLabel"> Maus vorhanden</label></div>
                            <div class="col-4"><input type="checkbox" id="cbComputer" /><label for="cbComputer"class="filterLabel"> Computer vorhanden</label></div>
                            <div class="col-4"><input type="checkbox" id="cbDocking" /><label for="cbDocking"class="filterLabel"> Dockingstation vorhanden</label></div>
                            <div class="col-4"><input type="checkbox" id="cbKeyboard" /><label for="cbKeyboard"class="filterLabel"> Tastatur vorhanden</label></div>
                        </div>
                        <div class="container row">
                            <div class="col-4"><input type="checkbox" id="cbNoScreens" /><label for="cbNoScreens"class="filterLabel"> ohne Bildschirm</label></div>
                            <div class="col-4"><input type="checkbox" id="cbOneScreens" /> <label for="cbOneScreens"class="filterLabel"> 1 Bildschirm</label></div>
                            <div class="col-4"><input type="checkbox" id="cbTwoScreens" /> <label for="cbTwoScreens"class="filterLabel"> 2 Bildschirme</label></div>
                            <div class="col-4"><input type="checkbox" id="cbThreeScreens" /> <label for="cbThreeScreens"class="filterLabel"> 3 oder mehr Bildschirme</label></div>
                        </div>
                        <div class="col-4"></div>
                        <div class="btn btn-success" onclick="GetLocationsAndBookings()">Filter anwenden</div>
                    </div>
                </div>
                <br />
                <span id="allbookings"></span>
            </div>
        </div>
    </div>




