@{ Layout = "_Layout";}

<div class="row">
    <div class=" col-xl-4">
        <label for="tbUserName" class="">Username:</label>
    </div>
    <div class=" col-xl-8">
        <input type="text" class="form-control" id="tbUserName">
    </div>
</div>
<br />
<div class="row">
    <div class=" col-xl-4">
        <label for="tbPassword" class="">Password:</label>
    </div>
    <div class=" col-xl-8">
        <input type="password" class="form-control" id="tbPassword">
        <p class="alert-danger" id="unauthLabel" style="display:none">Benutzername oder Passwort nicht korrekt.</p>
    </div>
</div>
<br />
<div class="row">
    <div class=" col-xl-4">

    </div>
    <div class=" col-xl-4">
        <button id="btnLogin" onclick="login()" class="btn btn-block btn-primary">Login</button>
    </div>
    <div class=" col-xl-4">

    </div>
</div>

<script>
    //ajax call to login
    function login() {
        $("#unauthLabel").css("display", "none");
        var model = {
            Username: window.$("#tbUserName").val(),
            Password: window.$("#tbPassword").val()
        }
        
        window.$.ajax({
            url: '@Url.Action("LogIn", "Home")',
            data: { loginModel: model },
            type: "POST",
            success: function () {
                $(location).attr("href", "/Home/Booking");
            },
            error: function ()
            {
                $("#unauthLabel").css("display", "block");
            }
        });
    }
</script>