* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#bg {
    background-image: url('/img/background.jpg');
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(8px);
    z-index:-1;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
    overflow-x: hidden;

    /*flex layout*/
    display: flex;
    flex-flow: column;
    height: 100%;
}

.popover{
    padding:10px;
}

.input-group-prepend {
    display: flex;
    justify-content: center;
}
.input-group-text {
    border-radius: 100px;
    margin-left: 20px;
}

.roomContainer{
    background-color:rgba(255,165,0,0.4);
    border-radius:10px;
    margin:5px;
}

/* Header/logo Title */
.header {
    flex: 0 1 auto;
    padding: 60px;
    text-align: center;
    background-color: transparent;
    color: white;
}

#navbar {
    flex: 0 0 auto;
    height:58px;
    overflow: hidden;
    background-color: rgba(1,1,1,0.8);
}

    #navbar a {
        float: right;
        display: block;
        background-color: transparent;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        #navbar a:hover {
            background-color: rgba(255,165,0,0.8);
            border-radius: 10px;
        }

.filterLabel{
    color:orange;
}
/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}
.maincontent {
    flex: 1 1 auto;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: rgba(255, 165, 0, 0.6);
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: rgba(0,0,0,0.65);
    padding: 20px;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* Fake image, just for this example */
.fakeimg {
    border-radius: 10px;
    background-color: rgba(200,200,200,0.8);
    width: 100%;
    padding: 20px;
    margin:7px;
}



.container {
    display: flex; /* or inline-flex */
}

.toggle-content {
    display: none;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

    .toggle-content.is-visible {
        display: block;
        height: auto;
    }